<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot 기본 설정 파일을 포함 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Logstash Appender 설정 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <!-- Logstash 서버 주소 (docker-compose.yml에 정의된 서비스 이름) -->
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- 기본적으로 포함되는 provider들 -->
            <stackTrace/>
            <mdcFieldNames>ActiveUserId,errorCode,errorMessage</mdcFieldNames>
<!--            <mdc/> &lt;!&ndash; loginId, errorCode 등을 위해 필요 &ndash;&gt;-->

            <!-- Micrometer Tracing 연동을 위한 provider -->
            <tracing/>

            <!-- 커스텀 필드 (항상 맨 마지막에 위치) -->
            <customFields>{"app_name":"main_backend_server"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
